<link rel="stylesheet" href="todo.css">
<template id="todo-template"></template>

<script>
    var thisDoc = document.currentScript.ownerDocument;
    var mainDoc = document;

    var proto = Object.create(HTMLElement.prototype);
    proto.createdCallback = function() {
        var shadowRoot = this.createShadowRoot();

        fetch('https://api.github.com/repos/tastejs/todomvc/git/trees/6d71146f56e9ad51ddf3b6776e8871d33e02f4bd').then(function(response) {
            if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ' + response.status);
                return;
            }

            response.json().then(function(data) {
                var types = data.tree.map(function(element) {
                    return element.path;
                });
                DOSTUFF(types[Math.floor(Math.random() * types.length)]);
            });
        });

        function DOSTUFF(truc) {
            var template = thisDoc.querySelector('#todo-template');
            var iframe = document.createElement('iframe');
            iframe.frameBorder = 0;
            iframe.setAttribute('id', 'todo-iframe');
            iframe.setAttribute('src', 'https://todomvc.com/examples/' + truc);

            var clone = thisDoc.importNode(template.content, true);
            clone.appendChild(iframe);
            shadowRoot.appendChild(clone);
        }
    };

    mainDoc.registerElement('todo-js', {
        prototype: proto
    });
</script>

